.login_body_size {
  width: 500px;
  border-color: black;
}

.sign_in_button {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  width: 100%;
}

.sign_in_button:hover {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  width: 100%;
}
